body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Montserrat", sans-serif;
}


.btn {
    margin-left: 5px;
}

.h1top {
    margin: auto;
}

.search_bar {
    margin: auto;
    margin-top: 10px;
}

.sheader1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.sheader2 {
    text-align: center;
    font-size: 20px;
}

.sheader3 {
    font-size: 20px;
}

.carousel {
    text-align: left;
    margin: auto;
}

.top-cards {
    margin: auto;
}

.carousel-item {
    justify-content: center;
}

.second-div {
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header2 {
    text-align: center;
}

.carousel-indicators li {
    background-color: black;
}

.logo {
    width: 70%;
    height: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding:  40px 0;
}

.logodiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}



@media (max-width: 1209px) {
    body {
        margin: 0;
    }
}

.abouttext {
    padding: 40px 0;
    padding-left: 5%;
    padding-right: 5%;
}

.navigation {
    background-color: gainsboro;
}